<ui-page-intro-header [headerData]='pageHeaderData'></ui-page-intro-header>
<div class='loader-wrapper' *ngIf='!isLoaded; else productsList'>
  <ui-loader></ui-loader>
</div>
<ng-template #productsList>
  <customify-new-product-form *ngIf='formIsVisible'
                              (onCreateProduct)='handleSubmit($event)'
                              (onHideForm)='hideForm($event)'>
  </customify-new-product-form>
  <ui-button class='btn-new-product' (click)='showForm()'
             *ngIf='!formIsVisible'>
    Create new product
  </ui-button>
  <customify-product-filter-bar [productKeys]='productAllAvailableKeys'
                                (onFiltersChange)='changeProductKeysToDisplayInTable($event)'>
  </customify-product-filter-bar>
  <div class='table-wrapper'>
    <customify-product-table [columnNames]='columnNames'
                             [products]='products'>
    </customify-product-table>
  </div>
</ng-template>
