.page-wrapper {
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  transition: all .3s ease;

  &__btn {
    margin-left: -5px;
  }
}

@media (min-width: 1024px) {
  .page-wrapper {
    padding-left: 25px;
  }

  .content {
    flex-direction: row;

    &__categories {
      width: 300px;
    }

    &__products {
      margin-left: 20px;
      width: calc(100% - 300px - 20px);
      height: auto;
      min-height: 300px;
    }
  }
}
