<div class='page-wrapper'>
  <customify-previous-page></customify-previous-page>
  <customify-page-title>
    Account information
  </customify-page-title>
  <customify-account-information-wrapper name='User name'
                                         value='James Warden'
                                         (onClick)='goToEditPage($event)'>
  </customify-account-information-wrapper>
  <customify-account-information-wrapper name='Email'
                                         value='j-warden@email.com'
                                         (onClick)='goToEditPage($event)'>
  </customify-account-information-wrapper>
  <customify-account-information-wrapper name='Phone number'
                                         value='+33 6 16 39 54 78'
                                         (onClick)='goToEditPage($event)'>
  </customify-account-information-wrapper>
  <customify-account-information-wrapper name='Password'
                                         value='********'
                                         (onClick)='goToEditPage($event)'>
  </customify-account-information-wrapper>
  <customify-account-information-wrapper name='Account type'
                                         value='Premium'
                                         (onClick)='goToEditPage($event)'>
  </customify-account-information-wrapper>
</div>
