<div class='page-wrapper'>
  <h1 class='title'>Account</h1>
  <customify-profile></customify-profile>
  <ul class='list'>
    <li class='list__element'>
      <a href='' class='list__link'>Orders</a>
    </li>
    <li class='list__element'>
      <a href='' class='list__link'>Returns and refunds</a>
    </li>
    <li class='list__element'>
      <a routerLink='information' class='list__link'>Account information</a>
    </li>
    <li class='list__element'>
      <a href='' class='list__link'>Security and settings</a>
    </li>
    <li class='list__element'>
      <a href='' class='list__link'>Help</a>
    </li>
  </ul>
</div>
