<ui-button status='default' size='small' (click)='goToPreviousPage()'>
  <i class='bx bxs-chevron-left'></i>
</ui-button>
<div class='page-wrapper'>
  <div class='page-wrapper__photos'>
    <img [src]='product.imgUrl' [alt]='product.imgAlt'>
  </div>
  <div class='page-wrapper__details'>
    <ui-form [formGroup]='updateProductForm' (ngSubmit)='updateProduct()'>
      <ui-label name='name'>
        <input type='text' [value]='product.name' formControlName='name' uiInput>
      </ui-label>
      <ui-label name='description'>
        <input type='text' [value]='product.description' formControlName='description' uiInput>
      </ui-label>
      <ui-label name='price'>
        <input type='number' [value]='product.price' formControlName='price' uiInput>
      </ui-label>
      <ui-label name='brand'>
        <input type='text' [value]='product.brand' formControlName='brand' uiInput>
      </ui-label>
      <div class='btn-wrapper'>
        <ui-button status='primary' shadow='false' type='submit'>Update</ui-button>
        <ui-button status='warning' shadow='false' (click)='removeProduct()'>
          Remove
        </ui-button>
      </div>
    </ui-form>
  </div>
</div>
