$margin: 10px;
$page-width: calc(100% - 2 * #{$margin});

.bx {
  font-size: 1rem;
}

.page-wrapper {
  width: $page-width;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__photos {
    width: calc(#{$page-width} - 2 * #{$margin});
    display: flex;
    justify-content: center;

    & img {
      width: 95%;
      height: auto;
    }
  }

  &__details {
    width: calc(#{$page-width} - 2 * #{$margin});
  }
}

@media (min-width: 768px) {
  .page-wrapper {
    margin: $margin;
    flex-direction: row;

    &__photos,
    &__details {
      width: calc(#{$page-width} / 2);
    }
  }
}
